<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.torists.repositroy.AdminRepositroy">
    <resultMap id="adminResultMap" type="com.example.torists.bean.Admin">
        <id column="id" property="id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_pwd" property="user_pwd"/>
    </resultMap>
    <select id="findAllAdmin" resultMap="adminResultMap">
        select id,user_name,user_pwd
    </select>
    <insert id="addAdmin" parameterType="com.example.torists.bean.Admin">
        insert into admin(user_name,user_pwd) values (#{admin.user_name},#{admin.user_pwd})
    </insert>
    <update id="updateAdmin">
        update admin set user_name=#{admin.user_name},user_pwd=#{admin.user_pwd} where id=#{admin.id}
    </update>
    <delete id="deleteAdmin">
        delete from admin where id=#{admin.id}
    </delete>
</mapper>