
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.torists.repositroy.ArticletypeRepositroy">
    <resultMap id="articletypeResultMap" type="com.example.torists.bean.Articletype">
    <id column="articletype_id" property="articletype_id"/>
    <result column="articletype_name" property="articletype_name"/>
</resultMap>
    <select id="findAllArticletype" resultMap="articletypeResultMap">
        select * from articletype where id=#{articletype_id}
    </select>
</mapper>