<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.torists.repositroy.GuestRepositroy">
    <resultMap id="guestResultMap" type="com.example.torists.bean.Guest">
        <id column="guestid" property="guestid"/>
        <result column="g_username" property="g_username"/>
        <result column="g_sex" property="g_sex"/>
        <result column="g_content" property="g_content"/>
        <result column="g_reply" property="g_reply"/>
        <result column="g_posttime" property="g_posttime"/>
        <result column="g_replytime" property="g_replytime"/>
        <result column="t_id" property="t_id"/>
        <association property="tourists" javaType="com.example.torists.bean.Tourists">
            <id column="t_id" property="t_id"/>
            <result column="t_name" property="t_name"/>
            <result column="t_tel" property="t_tel"/>
            <result column="t_icd" property="t_icd"/>
        </association>
    </resultMap>
    <select id="findAllGuest" resultMap="aguestResultMap">
        select * from guest where guestid=#{guestid}
    </select>
    <update id="updateGuest">
        update guest set g_username=#{g.guest.g_username}
        ,g_sex=#{g.g_sex}
        ,g_content=#{guest.g_content}
        ,g_reply=#{guest.g_reply}
        ,g_posttime=#{g.g_posttime}
        ,g_replytime=#{g.g_replytime}
        ,t_id=#{g.t_id}
        where guestid=#{g.guestid}
    </update>
    <insert id="addGuest">
         insert into guest(g_username
         ,g_sex
         ,g_content
         ,g_reply
         ,g_posttime
         ,g_replytime
         ,t_id)
         values (#{g.guest.g_username}
         ,#{g.g_sex}
         ,#{g.g_content}
         ,#{g.g_reply}
         ,#{g.g_posttime}
         ,#{g.g_replytime
         ,#{g.t_id})
    </insert>
    <delete id="deleteGuest">
        delete from guest where guestid=#{g.guestid}
    </delete>
</mapper>