<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.torists.repositroy.Hotel_dingRepositroy">
        <resultMap id="hotel_dingResultMap" type="com.example.torists.bean.Hotel_ding">
            <id column="hotel_id" property="hotel_id"/>
            <result column="hotel_name" property="hotel_name"/>
            <result column="hotel_position" property="hotel_position"/>
            <result column="hotel_pic" property="hotel_pic"/>
            <result column="hotel_content" property="hotel_content"/>
            <result column="hotel_price" property="hotel_price"/>
            <result column="order_id" property="order_id"/>
            <association property="hotel_ding" javaType="com.example.torists.bean.Hotel_ding">
                <id column="order_id" property="order_id"/>
                <result column="hoteldd_name" property="hoteldd_name"/>
                <result column="hoteldd_fitype" property="hoteldd_fitype"/>
                <result column="hoteldd_begintim" property="hoteldd_begintim"/>
                <result column="hoteldd_endtime" property="hoteldd_endtime"/>
                <result column="admin_action" property="admin_action"/>
            </association>
        </resultMap>
    <select id="findAllHotel" resultMap="hotelResultMap">
        select * from hotel
    </select>
    <update id="updateHotel">
        update hotel set hoteld_name = #{h.hotel_name}
                             ,hotel_position = #{h.hotel_position}
                             ,hotel_pic = #{h.hotel_pic}
                             ,hotel_content = #{h.hotel_content}
                             ,hotel_price = #{h.hotel_price}
                             ,order_id = #{h.order_id}
        where hotel_id=#{h.hotel_id}
    </update>
    <insert id="addHootel">
         insert into hotel(hoteld_name,hotel_position,hotel_pic,hotel_content,hotel_price,order_id)
         values (#{h.hotel_name},#{h.hotel_position},#{h.hotel_pic},#{h.hotel_content},#{h.hotel_price},#{h.order_id})
    </insert>
    <delete id="deleteHotel">
        delete from hotel where hotel_id=#{h.hotel_id}
    </delete>
</mapper>