<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.torists.repositroy.Line_dingReposictroy">
    <resultMap id="Line_dingResultMap" type="com.example.torists.bean.Line_ding">
        <id column="lined_id" property="lined_id"/>
        <result column="lined_name" property="lined_name"/>
        <result column="lined_jointime" property="lined_jointime"/>
        <result column="line_shuoming" property="line_shuoming"/>
        <result column="line_price" property="line_price"/>
        <result column="line_pic" property="line_pic"/>
        <result column="lined_id" property="lined_id"/>
        <result column="line_ding" property="line_ding"/>
    </resultMap>
    <select id="findAllLine_ding" resultMap="Line_dingResultMap">
        select * from line_ding
    </select>
    <update id="updateLine_ding">
        update line_ding set lined_name = #{ld.lined_name}
                             ,line_name = #{ld.line_name}
                             ,lined_jointime = #{ld.lined_jointime}
                             ,t_id=#{ld.t_id}
        where lined_id = #{ld.lined_id}
    </update>
    <insert id="addLine_ding">
         insert into line_ding(lined_name,lined_jointime,t_id)
         values (#{ld.lined_name},#{ld.lined_jointime}#{ld.t_id})
    </insert>
    <delete id="deleteLine_ding">
        delete from line_ding where lined_id = #{ld.lined_id}
    </delete>
</mapper>

