<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.torists.repositroy.ScenicspotpicRepositroy">
    <resultMap id="scenicspotpicResultMap" type="com.example.torists.bean.Scenicspotpic">
        <id column="pic_id" property="pic_id"/>
        <result column="pic_url" property="pic_url"/>
        <result column="pic_name" property="pic_name"/>
        <result column="add_date" property="add_date"/>
        <result column="scenicspot_id" property="scenicspot_id"/>
    </resultMap>
    <select id="findAllScenicspotpic" resultMap="scenicspotpicResultMap">
        select * from scenicspotpic where scenicspot_id=#{sp.scenicspot_id}
    </select>
    <update id="updateScenicspotpic">
        update scenicspotpic set pic_url = #{sp.pic_url}
                             ,pic_name = #{sp.pic_name}
                             ,add_date = #{sp.add_date}
                             ,scenicspot_id = #{sp.scenicspot_id}
        where pic_id = #{sp.pic_id}
    </update>
    <insert id="addHotel">
         insert into line(line_name,line_xingcheng,line_baojia,line_anpai,line_shuoming,line_price,line_pic,add_date,line_picname)
         values (#{l.line_name},#{l.line_xingcheng},#{l.line_baojia},#{l.line_anpai},#{l.line_shuoming},#{l.line_price},#{l.line_pic},#{l.add_date},#{l.line_picname})
    </insert>
    <delete id="deleteHotel">
        delete from line where line_id=#{l.line_id}
    </delete>
</mapper>